---
layout: auth/auth-layout
themeTitle: ModularAdmin
---
<div class="auth-container">
	<div class="card">
		<header class="auth-header">
			<h1 class="auth-title">
				{{> _common/logo/logo}}
				{{themeTitle}}
			</h1>
		</header>
		<div class="auth-content">
			<p class="text-center">ĐĂNG NHẬP</p>
			<form id="login-form"  action="/index.html" method="GET" novalidate="">
				<div class="form-group">
					<label for="username" >Tên tài khoản</label>
					<input type="email" class="form-control underlined" name="username" id="username" placeholder="Địa chỉ Email" required>
				</div>
				<div class="form-group">
					<label for="password" >Mật khẩu</label>
					<input type="password" class="form-control underlined" name="password" id="password" placeholder="Nhập mật khẩu" required>
				</div>
				<div class="form-group">
					<label for="remember">
						<input class="checkbox" id="remember" type="checkbox">
						<span>Ghi nhớ đăng nhập</span>
					</label>

					<a href="reset.html" class="forgot-btn pull-right">Quên mật khẩu?</a>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-block btn-primary">Đăng nhập</button>
				</div>
				<div class="form-group">
					<p class="text-muted text-center">Bạn đã có tài khoản? <a href="signup.html">Đăng ký</a></p>
				</div>
			</form>
		</div>
	</div>
	<div class="text-center">
		<a href="index.html" class="btn btn-secondary btn-sm">
			<i class="fa fa-arrow-left"></i> QUAY LẠI DASHBOARD
		</a>
	</div>
</div>
